<img src="../../../images/python/data types/collection/collection1.webp" width="800">

# List in python

Lists are mutable sequences, typically used to store collections of homogeneous items (where the precise degree of similarity will vary by application).

List Characteristics:
- **Order Preservation**: Lists retain the order of elements in the sequence, allowing access through specific indices.
- **Mutable Nature**: Lists support dynamic operations, such as adding, removing, and modifying elements.
- **Heterogeneity**: Lists accommodate elements of diverse data types, including integers, strings, floats, as well as nested lists or complex objects.

In the next sections, we'll look at how to create lists, perform various operations and manipulations.

## Creating List

class list([iterable])
 
Lists may be constructed in several ways:
- Using a pair of square brackets to denote the empty list: []
- Using square brackets, separating items with commas: [a], [a, b, c]
- Using a list comprehension: [x for x in iterable]
- Using the type constructor: list() or list(iterable)

In [1]:
# A list with homogeneous items
[1, 2, 3]

[1, 2, 3]

In [2]:
# A list with mixed data types
def mixed():
    pass

import math

a = 2.0
b = 'hello'
c = 50

[a, b, c, True, math, mixed]

[2.0,
 'hello',
 50,
 True,
 <module 'math' from '/home/afsharino/anaconda3/envs/CI/lib/python3.11/lib-dynload/math.cpython-311-x86_64-linux-gnu.so'>,
 <function __main__.mixed()>]

In [3]:
# list comprehention
[x for x in (1, 2, 3)]

[1, 2, 3]

In [4]:
# using list constructor - range as iterable
range_list = list(range(5))
range_list

[0, 1, 2, 3, 4]

The constructor builds a list whose items are the same and in the same order as iterable’s items. iterable may be either a sequence, a container that supports iteration, or an iterator object. If iterable is already a list, a copy is made and returned, similar to iterable[:]. For example, list('abc') returns ['a', 'b', 'c'] and list( (1, 2, 3) ) returns [1, 2, 3].

In [5]:
list('hello world')

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [6]:
list([a, 'a', (1, 2)])

[2.0, 'a', (1, 2)]

If no argument is given, the constructor creates a new empty list, [].

In [7]:
list()

[]

In [8]:
[]

[]

In [9]:
nested_list = ['1', 2, 3, [4, 5, 6, [7, 8, 9]]]
nested_list

['1', 2, 3, [4, 5, 6, [7, 8, 9]]]

### Exercise

Write a program that generates the following matrix using list comprehension.

[

[1, 2, 3],

[4, 5, 6],

[7, 8, 9],

]

In [1]:
# Your anser here

## Common Built-in Functions

### len

The `len()` function provides the count of elements in a list, serving as one of the frequently employed built-in functions in list operations.

In [12]:
len(range_list)

5

In [13]:
# usecase
for i in range(len(range_list)):
    print(i)

0
1
2
3
4

### max & min

The `max()` function retrieves the item with the highest value in a list, while `min()` returns the item with the lowest value. When dealing with numeric lists, these functions identify the maximum and minimum numbers. In the case of string lists, they determine the item with the highest or lowest lexicographical order.

### max

In [14]:
# max - list of numbers
max(range_list)

4

In [15]:
# max - list of strings
max(['hi', 'bye', 'zoo'])

'zoo'

### min

In [16]:
# max - list of numbers
min(range_list)

0

In [17]:
# min - list of strings
min(['hi', 'bye', 'zoo'])

'bye'

### sum

The `sum()` function computes the sum of the numeric values within a list. list elements must be numbers.

In [18]:
sum(range_list)

10

In [19]:
sum(['hi', 'bye', 'zoo'])

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### Exercise

Write a program to find average of each row in following matrix and returns a list of averages.
    
matrix = [

[1, 2, 3, 4],

[5, 6, 7, 8],

[9, 10, 11, 12],

]

In [2]:
# Your answer here

## Accessing & Modifying List Elements

Python lists offer both mutability, enabling content modification, and order, signifying that each element holds a distinct position or index. This ordered nature facilitates efficient access and modification of elements based on their respective positions.

## Accessing List Elements

### Accessing Elements Using Indexing

<img src="../../../images/python/data types/list/indexing.webp" width="800">

In [21]:
sample_list = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [22]:
# access an element in list
sample_list[-5]

'bar'

In [23]:
# 2 & -4 are the same
sample_list[2] == sample_list[-4]

True

### Accessing Elements Using Slicing

In [24]:
# stop < start
sample_list[-1:-4]

[]

In [25]:
# start < stop
sample_list[-6:-4]

['foo', 'bar']

In [26]:
# iterate in reverse order
sample_list[-1:2:-1]

['corge', 'quux', 'qux']

In [27]:
# Reverse list
sample_list[::-1]

['corge', 'quux', 'qux', 'baz', 'bar', 'foo']

In [28]:
# start: inclusive, stop: exclusive
sample_list[:5]

['foo', 'bar', 'baz', 'qux', 'quux']

### Accessing Nested Lists

In [29]:
print(nested_list)

['1', 2, 3, [4, 5, 6, [7, 8, 9]]]

In [30]:
nested_list[3][3]

[7, 8, 9]

## Modifying List Elements

### Update Elements - Indexing

In [31]:
print(sample_list)
sample_list[2] = 'python'
sample_list

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

['foo', 'bar', 'python', 'qux', 'quux', 'corge']

### Update Elements - Slicing

To change the value of items within a specific range, define a list or other iterable with the new values, and refer to the range of index numbers where you want to insert the new values:

In [32]:
print(sample_list)
s = sample_list.copy()
s[1:4]

['foo', 'bar', 'python', 'qux', 'quux', 'corge']

['bar', 'python', 'qux']

In [33]:
s[1:4] = 'java', 'js', 'php'
s

['foo', 'java', 'js', 'php', 'quux', 'corge']

If you insert less items than you replace, the new items will be inserted where you specified:

In [34]:
print(sample_list)
s = sample_list.copy()
s[1:4] = 'p'
s

['foo', 'bar', 'python', 'qux', 'quux', 'corge']

['foo', 'p', 'quux', 'corge']

In [35]:
print(sample_list)
s = sample_list.copy()
s[1:4] = 'py'
s

['foo', 'bar', 'python', 'qux', 'quux', 'corge']

['foo', 'p', 'y', 'quux', 'corge']

If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [36]:
s = sample_list.copy()
s[1:4] = 'python'
s

['foo', 'p', 'y', 't', 'h', 'o', 'n', 'quux', 'corge']

### Add Elements

There are several methods to add elements to a list.

#### Append
- `.append()` adds a single element to the end of the list

In [37]:
sample_list

['foo', 'bar', 'python', 'qux', 'quux', 'corge']

In [38]:
sample_list.append('zorg')
sample_list

['foo', 'bar', 'python', 'qux', 'quux', 'corge', 'zorg']

#### Extend
- `.extend()` adds all elements from another iterable (e.g., another list or tuple) to the end of the list

In [39]:
more_samples = ('Hi', 'Guys')
sample_list.extend(more_samples)
sample_list

['foo', 'bar', 'python', 'qux', 'quux', 'corge', 'zorg', 'Hi', 'Guys']

#### insert
- `.insert()` adds an element at a specific position

In [40]:
sample_list.insert(1, 'in gode we trust')
sample_list

['foo',
 'in gode we trust',
 'bar',
 'python',
 'qux',
 'quux',
 'corge',
 'zorg',
 'Hi',
 'Guys']

> Note that inserting an element at a specific position is not very efficient, as it requires shifting all elements after the inserted element by one position. So avoid using `.insert()` when possible.

### Rmove Elements

There are several methods to remove elements from a list.

#### pop
- `.pop()` removes and returns the element at a given index (or the last one if no index is provided)

In [41]:
print(sample_list)
sample_list.pop()

['foo', 'in gode we trust', 'bar', 'python', 'qux', 'quux', 'corge', 'zorg', 'Hi', 'Guys']

'Guys'

In [42]:
print(sample_list)
sample_list.pop(1)
sample_list

['foo', 'in gode we trust', 'bar', 'python', 'qux', 'quux', 'corge', 'zorg', 'Hi']

['foo', 'bar', 'python', 'qux', 'quux', 'corge', 'zorg', 'Hi']

#### remove
- `.remove()` finds and removes the first matching element without needing to know its index

In [43]:
print(sample_list)
sample_list.remove('foo')
sample_list

['foo', 'bar', 'python', 'qux', 'quux', 'corge', 'zorg', 'Hi']

['bar', 'python', 'qux', 'quux', 'corge', 'zorg', 'Hi']

#### del
- Using `del` you can remove an item at a specific index or slice

In [44]:
print(sample_list)
del sample_list[0]
sample_list

['bar', 'python', 'qux', 'quux', 'corge', 'zorg', 'Hi']

['python', 'qux', 'quux', 'corge', 'zorg', 'Hi']

In [45]:
print(sample_list)
del sample_list[2:5]
sample_list

['python', 'qux', 'quux', 'corge', 'zorg', 'Hi']

['python', 'qux', 'Hi']

> **Note:** Removing elements from the middle of a list is not very efficient, as it requires shifting all elements after the removed element by one position. You should avoid using `.remove()` and `del` when possible and use `.pop()` instead.

#### clear
- `.clear()` clears all the elements in the list.

In [46]:
new_sample = sample_list[:4]
new_sample

['python', 'qux', 'Hi']

In [47]:
new_sample.clear()

In [48]:
new_sample

[]

## Exercise

Write a program that generates a list L of 10 even numbers between 1 and 20 (20 is inclusive).

In [3]:
# your answer here

Replace each element in a list L with its square.

- **Note 1**: Do not use list comprehension.
- **Note 2**: The operation should be done inplace.

In [4]:
# your answer here

## Common List operation

### Concatenation

In [54]:
list_1 = [1, 2.0, 'hi']
list_2 = [3, (6, 7)]
combination = list_1 + list_2
combination

[1, 2.0, 'hi', 3, (6, 7)]

What's the difference with extend?

extend is inplace

In [55]:
list_1, list_2

([1, 2.0, 'hi'], [3, (6, 7)])

In [56]:
list_1.extend(list_2)

In [57]:
list_1, list_2

([1, 2.0, 'hi', 3, (6, 7)], [3, (6, 7)])

extend gets iterable as a parameter

In [58]:
list_1 + (1, 2 ,3)

TypeError: can only concatenate list (not "tuple") to list

### Replication¶

In [59]:
[1, 2, (1, 2)] * 3

[1, 2, (1, 2), 1, 2, (1, 2), 1, 2, (1, 2)]

In [60]:
# A list of 10 None values
none_list = [None] * 10
none_list

[None, None, None, None, None, None, None, None, None, None]

### Membership testing

In [61]:
products =  ['laptop', 'iphone', 'mouse', 'keyboard', 'earbuds', 'laptop', 'iwatch']

In [62]:
'iphone' in products

True

In [63]:
'ipad' not in products

True

### Finding the index of element

In [64]:
products.index('iphone')

1

In [65]:
products.index('ipad')

ValueError: 'ipad' is not in list

### Count number of occurence of an element in list

In [66]:
products.count('laptop')

2

In [67]:
products.count('ipad')

0

### Reversing the list

The `.reverse()` method is replacing the order of a list in place.

In [68]:
print(products)
products.reverse()

['laptop', 'iphone', 'mouse', 'keyboard', 'earbuds', 'laptop', 'iwatch']

In [69]:
products

['iwatch', 'laptop', 'earbuds', 'keyboard', 'mouse', 'iphone', 'laptop']

> Note that **the original list is modified** and the method does not return a new list. If you want to create a new list with the elements in reverse order, you can use the `reversed()` function instead. Note that this function returns an iterator, so you need to convert it to a list.

In [70]:
list(reversed(products))

['laptop', 'iphone', 'mouse', 'keyboard', 'earbuds', 'laptop', 'iwatch']

### sorting list

In [71]:
products.sort()

In [72]:
products

['earbuds', 'iphone', 'iwatch', 'keyboard', 'laptop', 'laptop', 'mouse']

In [73]:
integers = [1, 2, 5, 3, 5, 7, 4]
integers.sort()
integers

[1, 2, 3, 4, 5, 5, 7]

In [74]:
integers.sort(reverse=True)
integers

[7, 5, 5, 4, 3, 2, 1]

The `.sort()` method sorts `numbers` in place, while the `sorted()` built-in function can be used to return a new sorted list without altering the original.

In [75]:
sorted(integers)

[1, 2, 3, 4, 5, 5, 7]

### copy a list

In [76]:
list_1 = [1, 2, 3, 4]
list_2 = list_1
list_1, list_2

([1, 2, 3, 4], [1, 2, 3, 4])

The `id()` function returns a unique id for the specified object.

All objects in Python has its own unique id.

The id is assigned to the object when it is created.

The id is the object's memory address, and will be different for each time you run the program. (except for some object that has a constant unique id, like integers from -5 to 256)

In [77]:
id(list_1) == id(list_2)

True

In [78]:
list_1 is list_2

True

In [79]:
# change an element in list 1
# changes applied to list 2 too
# both refrence a same place in memory
list_1[0] = 5
list_1, list_2

([5, 2, 3, 4], [5, 2, 3, 4])

In [80]:
# change an element in list 2
# changes applied to list 1 too
# both refrence a same place in memory
list_2[1] = 7
list_1, list_2

([5, 7, 3, 4], [5, 7, 3, 4])

In [81]:
# get copy of list 1
list_2 = list_1.copy()

In [82]:
id(list_1), id(list_2)

(140304147885632, 140304149499136)

In [83]:
# changes one one doesn't aplly on the other one
list_2[0] = 1
list_1, list_2

([5, 7, 3, 4], [1, 7, 3, 4])

In [84]:
list_1[:]

[5, 7, 3, 4]

In [85]:
list_2 = list_1[:]

In [86]:
list_2[1] = 1
list_1, list_2

([5, 7, 3, 4], [5, 1, 3, 4])

## Exercise

**01**: Write a program to generates following output, using replication and append.
[['cs'], ['cs'], ['cs']]

In [5]:
# your anwer here

In [91]:
l = [[] for i in range(3)]
l[0].append('cs')
l[1].append('math')
l[2].append('statistic')
l

[['cs'], ['math'], ['statistic']]

**02**: Given a list L that contains numbers between 1 to 100, create a new list whose first
element is how many ones are in L, whose second element is how many twos are in L, etc.

In [92]:
# your anwer here

100

**03**: Write a program that prints out the two largest and two smallest elements of a list
called scores.

In [94]:
# your anwer here

**04**: in previous example find the index of the most largest element; then add number 6 at that index; after doing all this print the elements in previous index of the most largest element and current index of the most largest element.

In [99]:
# your anwer here

(97, 998)