<img src="../../../images/python/data types/collection/collection1.webp" width="800">

# Tuple in python

Greetings, everyone! In our last session, we delved into the intricacies of Python lists, exploring their versatility, dynamics, and a wide range of operations available. We covered key concepts such as slicing, indexing, handling nested lists, and detailed various list methods like `.index()`, `.sort()`. Additionally, we discussed the nuances of shallow and deep copying.

In this lecture, our focus shifts to another essential Python data structure the tuple. At first glance, tuples may appear similar to lists with their ordered arrangement and capacity to hold diverse objects. However, as we'll explore, tuples introduce distinctive characteristics and use cases.

Tuples are often described as unchangeable(immutable) lists. In practical terms, while lists allow dynamic modifications, additions, or removals, tuples remain static and retain their initial state once established. This immutability proves valuable in certain situations, making tuples a preferred choice for collections that should remain fixed.

In today's lecture, you'll discover the art of creating and accessing tuple elements, gaining a deeper understanding of their inherent immutability and its implications. We'll explore key operations specific to tuples, drawing comparisons and distinctions with our well-acquainted companions, the lists.

## Creating Tuple

class tuple([iterable]): 

Tuples may be constructed in a number of ways:

- Using a pair of parentheses to denote the empty tuple: ()

- Using a trailing comma for a singleton tuple: a, or (a,)

- Separating items with commas: a, b, c or (a, b, c)

- Using the tuple() built-in: tuple() or tuple(iterable)

 

Note that it is actually the comma which makes a tuple, not the parentheses. The parentheses are optional, except in the empty tuple case, or when they are needed to avoid syntactic ambiguity. For example, f(a, b, c) is a function call with three arguments, while f((a, b, c)) is a function call with a 3-tuple as the sole argument.

In [1]:
# A tuple with homogeneous items - with parentheses
(1, 2, 3)

(1, 2, 3)

In [2]:
# A tuple with homogeneous items - without parentheses
comma_seperated_tuple = 1, 2, 3
comma_seperated_tuple

(1, 2, 3)

In [2]:
# Tuple unpacking
num1, num2, num3 = 1, 2, 3
num1

1

In [21]:
# A tuple with mixed data types - with parentheses
def mixed():
    pass

import math

a = 2.0
b = 'hello'
c = 50

(a, b, c, True, math, mixed)

(2.0,
 'hello',
 50,
 True,
 <module 'math' from '/home/afsharino/anaconda3/envs/CI/lib/python3.11/lib-dynload/math.cpython-311-x86_64-linux-gnu.so'>,
 <function __main__.mixed()>)

In [4]:
(x for x in (1, 2, 3))

[more information on tuple comprehension](https://stackoverflow.com/questions/16940293/why-is-there-no-tuple-comprehension-in-python)

In [5]:
a,

(2.0,)

In [6]:
(a,)

(2.0,)

In [7]:
(a)

2.0

In [8]:
# using tuple constructor - tuple as iterable
tuple((1, 2, 3))

(1, 2, 3)

In [9]:
# using tuple constructor - range as iterable
range_tuple = tuple(range(5))
range_tuple

(0, 1, 2, 3, 4)

The constructor builds a tuple whose items are the same and in the same order as iterableâ€™s items. iterable may be either a sequence, a container that supports iteration, or an iterator object. If iterable is already a tuple, it is returned unchanged. For example, tuple('abc') returns ('a', 'b', 'c') and tuple( [1, 2, 3] ) returns (1, 2, 3).

In [10]:
tuple('abc')

('a', 'b', 'c')

In [11]:
tuple( [1, 2, 3] )

(1, 2, 3)

If no argument is given, the constructor creates a new empty tuple, ().

In [12]:
tuple()

()

In [13]:
()

()

In [14]:
type(())

tuple

In [15]:
nested_tuple = (1, 2, 3, (4, 5), (6, 7, (8, 9)))
nested_tuple

(1, 2, 3, (4, 5), (6, 7, (8, 9)))

## Exercise

Write a program to swap two tuple with each other

In [1]:
# your anwer here

Write a program to convert a given list of tuples to a list of lists.

In [18]:
# your anwer here

## Common Built-in Functions

In [16]:
len(range_tuple)

5

In [17]:
max(range_tuple)

4

In [18]:
min(range_tuple)

0

## Exercise

Write a program to calculate the average value of the inner tuples in a give tuple of tuples.

In [2]:
# your anwer here

## Accessing Tuple Elements

### Accessing Elements Using Indexing

<img src="../../../images/python/data types/list/indexing.webp" width="800">

In [19]:
sample_tuple = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
sample_tuple

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [20]:
sample_tuple[0], sample_tuple[-6]

('foo', 'foo')

In [21]:
sample_tuple[2]

'baz'

### Accessing Elements Using Slicing

In [22]:
# stop < start
sample_tuple[-1:-4]

()

In [23]:
# start < stop
sample_tuple[-6:-4]

('foo', 'bar')

In [24]:
# iterate in reverse order
sample_tuple[-1:2:-1]

('corge', 'quux', 'qux')

In [25]:
# Reverse tuple
sample_tuple[::-1]

('corge', 'quux', 'qux', 'baz', 'bar', 'foo')

In [26]:
# start: inclusive, stop: exclusive
sample_tuple[:5]

('foo', 'bar', 'baz', 'qux', 'quux')

### Accessing Nested Lists

In [27]:
print(nested_tuple)

(1, 2, 3, (4, 5), (6, 7, (8, 9)))

In [28]:
nested_tuple[4][2]

(8, 9)

## Update Elements

One significant distinction to remember is, unlike lists, you cannot change the elements of a tuple after it is defined. Attempting to do so will result in a `TypeError`.

In [29]:
print(sample_tuple)
sample_tuple[2] = 'python'
sample_tuple

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

TypeError: 'tuple' object does not support item assignment

In Python, tuples are synonymous with immutability, signifying that once a tuple is created, its contents remain unchangeable, immune to additions or removals. This characteristic sets tuples apart from lists, providing an added layer of data protection and integrity to your programs.

In [30]:
my_info = ("Jane Doe", "123 Elm Street", 28)

In [31]:
my_info[2] = 29  # Raises a TypeError

TypeError: 'tuple' object does not support item assignment

In [32]:
my_info[:2] + (29,)

('Jane Doe', '123 Elm Street', 29)

so due to the immiutabilty add, remove is not availabe

## Exercise

Given a nested tuple. write a program to modify the element in  a list which corresponding  value is 101 inside a following tuple.

In [3]:
# your anwer here

We can see that the tuples are not is immune as we expected :)

## Common Tuple operation

### Concatenation

In [33]:
tuple_1 = [1, 2.0, 'hi']
tuple_2 = [3, (6, 7)]
combination = tuple_1 + tuple_2
combination

[1, 2.0, 'hi', 3, (6, 7)]

What's the difference with extend?

extend is inplace

In [34]:
tuple_1, tuple_2

([1, 2.0, 'hi'], [3, (6, 7)])

In [35]:
tuple_1.extend(tuple_2)

In [36]:
tuple_1 + tuple_2

[1, 2.0, 'hi', 3, (6, 7), 3, (6, 7)]

### Replication

In [37]:
# A tuple of 10 None values
none_tuple = (None,) * 10
none_tuple

(None, None, None, None, None, None, None, None, None, None)

In [38]:
# A tuple of 10 None values - take care to use comma
none_tuple = (None) * 10
none_tuple

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

### Membership testing

In [39]:
products =  ('laptop', 'iphone', 'mouse', 'keyboard', 'earbuds', 'laptop', 'iwatch')

In [40]:
'iphone' in products

True

In [41]:
'ipad' not in products

True

### Finding the index of element

In [42]:
products.index('iphone')

1

In [43]:
products.index('ipad')

ValueError: tuple.index(x): x not in tuple

### Count number of occurence of an element in tuple

In [44]:
products.count('laptop')

2

In [45]:
products.count('ipad')

0

### Reversing the tuple

Tuples also do not have a `.reverse()` method and you can use the built-in `reversed()` function to reverse a tuple and return a new tuple with the reversed elements:

In [46]:
products.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [47]:
# it returns iterator
reversed(products)

In [48]:
tuple(reversed(products))

('iwatch', 'laptop', 'earbuds', 'keyboard', 'mouse', 'iphone', 'laptop')

### sorting tuple

Tuples do not have a `.sort()` method like lists do since they are immutable. However, you can use the built-in `sorted()` function to sort a tuple and return a new tuple with the sorted elements:

In [49]:
products.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [50]:
integers = 1, 2, 5, 3, 5, 7, 4
integers

(1, 2, 5, 3, 5, 7, 4)

In [51]:
sorted(integers)

[1, 2, 3, 4, 5, 5, 7]

In [52]:
type(sorted(integers))

list

### Copy a tuple

In [53]:
tuple_1 = (1, 2, 3, 4)
tuple_2 = tuple_1
tuple_1, tuple_2

((1, 2, 3, 4), (1, 2, 3, 4))

In [54]:
id(tuple_1) == id(tuple_2)

True

In [55]:
tuple_2 = tuple_1[:]

In [56]:
id(tuple_1) == id(tuple_2)

True

In [57]:
tuple_1.copy()

AttributeError: 'tuple' object has no attribute 'copy'

## Exercise

Writes a program to sort a tuple of tuples

In [4]:
# your anwer here

modify above code to sort based on second element.

In [5]:
# your anwer here